{% extends 'account/account_base.html' %}

{% block title-txt %}
    login
{% endblock %}

{% block header-txt %}
    登录页面
{% endblock %}

{% block content-blk %}
    <div class="content-blk-bg"></div>
    <div class="content-blk">
        <div class="form-group">
            <label for="login-uname">用户名</label>
            <input id="login-uname" type="text">
        </div>
        <div class="form-group">
            <label for="login-pw">密&nbsp;&nbsp;码</label>
            <input id="login-pw" type="password">
        </div>
        <div class="form-group">
            <button class="btn" id="login-btn" onclick="login()">登录</button>
        </div>
        </div>
{% endblock %}

{% block script-blk %}
    <script>

    function login() {
        request({
            url : _host_address + '{% url "do_login" %}',
            params : {
                username : $("#login-uname").val(),
                password : $.md5($("#login-pw").val())
            },
            success : function(data) {
                setToken(data["token"]);
                setUid(data["uid"]);
                var url = addQueryParams("/im", {token: getToken(), uid: getUid()});
                window.location.href = url;
            },
            error : function(message) {
                console.log(message);
            }
        })
    }

    $(function(){

    });

</script>
{% endblock %}
