.im-content-blk {
    height: 500px;
    width: 800px;
    background-color: gray;
    position: absolute;
}
.contact-container {
    height: 100%;
    width: 300px;
    display: inline-block;
}
.contact-list {
    list-style: none;
}
.contact-item {
    cursor: pointer;
}

.message-container {
    background-color: #5b80b2;
    height: 100%;
    width: 400px;
    display: inline-block;
    right: 0;
    position: absolute;
}